@import "abstract/variables";
@import "abstract/mixins";

@import "base/animations";

@import "components/buttons";
@import "components/forms";
@import "components/card";

// @import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family:  "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $color-text;
}

.active-link {
  color: $color-text-dark;
  background-color: $color-green;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

//
//.dropdown-menu-full {
//  position: fixed;
//  left: 0;
//  top: 0;
//  width: 100vw;
//  min-height: 100vh;
//}
//
//.editor-container {
//  margin-bottom: 0.5rem;
//  * {
//    max-width: 100%;
//  }
//}
