.label {
  font-size: 1em;
  color: darken($color-black, 100%);
  line-height: 1.5;
  font-weight: 600;
}
.label-sm {
  font-size: 0.875rem;
  color: lighten($color-black, 10%);
  line-height: 1.5;
  font-weight: 500;
}

.form-group {
  min-width: auto;
  max-width: 100%;
}

.form-control {
  font-size: 1.125em;
  padding: 1.25em;
  min-height: 3em;
}

a {
  cursor: pointer;
}

.append__btn {
  position: relative;
}
.append__input {
  width: 100%;
  // padding: 0.25rem 1rem 0.25rem 0.5rem
}
.prepend__input{
  padding-right: 4rem;
}
.append__btn-icon {
  top: 0;
  right: 0;
  line-height: 1.5rem;
  padding: 0;
  position: absolute;
  background-color: $color-white;

  &-img {
    width: 1rem;
    height: 1rem;
  }
}
.append__btn-select-icon {
  top: 0.35rem;
  right: 0.5rem;
  line-height: 1rem;
  padding: 0;
  position: absolute;
  background-color: $color-white;
  @include respond(desktop) {
    padding: 0.8rem 0;
  }
  &-img {
    width: 0.5rem;
    height: 0.5rem;
  }
}
.prepend__btn-icon{
  top: 0.4rem;
  left: 1rem;
  line-height: 1rem;
  padding: 0;
  position: absolute;
  background-color: $color-white;
  @include respond(desktop) {
    padding: 0.8rem 0;
  }
  &-img {
    width: 1rem;
    height: 1rem;
  }
}

select::-ms-expand {
  display: none;
}

.form__group{
  box-sizing: border-box;
  width: 100%;
}
.append__btn-icon {
  height: 100%;
  background-color: transparent;
}
.form__input {
  box-sizing: border-box;
  color: $color-text;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 2px solid $color-text-light;
  width: 100%;
}
.search-btn{
  text-align: center;
  display: inline-block;
  width: 2.2rem;
  height: 100%;
  background-color: $color-text-light;
  border-radius: 50%;
}
